# Maven
**/target/
*.jar

# IntelliJ
.idea/
**/.idea/
*.iml

# Eclipse
.classpath
.project
.settings/
.factorypath

# Logs
*.log

# Environment
.env

#application.properties file
**/src/main/resources/application.properties
**/src/main/resources/application.yml